<div class="container border rounded mt-5 p-3">
  <div class="d-flex justify-content-between">
    <a
      routerLink="/navigator"
      [queryParams]="{ tab: 0 }"
      [replaceUrl]="true"
      class="btn btn-primary"
      >Income</a
    ><a
      routerLink="/navigator"
      [queryParams]="{ tab: 1 }"
      [replaceUrl]="true"
      class="btn btn-primary ml-1"
      >Outcome</a
    ><a
      routerLink="/navigator"
      [queryParams]="{ tab: 2 }"
      [replaceUrl]="true"
      class="btn btn-primary ml-1"
      >Loan</a
    ><a
      routerLink="/navigator"
      [queryParams]="{ tab: 3 }"
      [replaceUrl]="true"
      class="btn btn-primary ml-1"
      >Investment</a
    >
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="border-top-0">Name</th>
        <th scope="col" class="border-top-0">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let transaction of transactions | filterTransactions: type:limit
        "
        scope="row"
      >
        <th>{{ transaction.name.first }}</th>
        <th>{{ transaction.amount }}</th>
      </tr>
    </tbody>
  </table>
</div>
